* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial;
}
a {
    text-decoration: none;
}
li{
    list-style: none;
}
.navigasi{
    display: flex;
    background-color:#3A6A59;
    color: white;
    align-items: center;
    padding: 20px;
}
.ling{
    position: absolute;
    right: 10px;
    
}
.ling a{
    color: rgb(235, 235, 235);
}
.navbar{
    display: flex;
    gap: 1em;
}
.navbar li{
    padding:5px 14px ;
    padding: 5px 14px;
    border-radius: 5px;
    background-color: #A7A88A;
    transition: background-color 0.3s ease;
}
.navbar li:hover{
    background-color: #B9C8BC;
    border-radius: 5px;
}
.dropdown{
    display: none;
    background-color: #A7A88A;
    position: absolute;
    top: 40px;
    padding: 1em 0;
    right: 45%;
    border-radius: 8%;
}
.dropdown li{
    width: 10em;
    align-items: center;

}
.anggota:hover .dropdown{
    display: block;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #747474;
    background:  url('/gambar/5-Sage.webp');
    background-position: center;
    background-size: cover;
}
  .menu {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #A7A88A,opacity(0.5);
    border-radius: 20px;
    box-shadow: 0 0 20px black;
    margin-top: 50px;
    text-align: center;
    height: 600px;
    margin-bottom: 50px;
  }
  .profile-pic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  h1, h2, p {
    color: #f1f0f0;
  }
footer {
    background-color: #3A6A59;
    padding: 10px;
    text-align: center;
    color: white;
    margin: 0 auto;
}
